@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/plugins/angularjs/angular.js"></script>
</head>
<body>
    <div>
        10 + 10 = {{10+10}}
    </div>
</body>
</html>